.face-detection-root {
    display: flex;
    align-items: center;
    justify-content: center;
}

.face-detection-canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.face-detection-wrapper {
    position: relative;
}